#sparkles>path {
	 -webkit-animation: sparklyBits 1000ms infinite;
	 animation: sparklyBits 1000ms infinite;
	 position: absolute;
	 fill: #fc28a8;
	 -webkit-filter: drop-shadow(0 0 10px #47e1f2);
	 filter: drop-shadow(0 0 10px #47e1f2);
	
}

#message {
	 margin-top: 20px;
	 text-align: center;
	 color: #47e1f2;
	 text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 12px #03edf975;
	
}

#sparkles>path:nth-child(1) {
	 -webkit-animation-delay: 35ms;
	 animation-delay: 35ms;
	
}

#sparkles>path:nth-child(2) {
	 -webkit-animation-delay: 70ms;
	 animation-delay: 70ms;
	
}

#sparkles>path:nth-child(3) {
	 -webkit-animation-delay: 105ms;
	 animation-delay: 105ms;
	
}

#sparkles>path:nth-child(4) {
	 -webkit-animation-delay: 140ms;
	 animation-delay: 140ms;
	
}

#sparkles>path:nth-child(5) {
	 -webkit-animation-delay: 175ms;
	 animation-delay: 175ms;
	
}

#sparkles>path:nth-child(6) {
	 -webkit-animation-delay: 210ms;
	 animation-delay: 210ms;
	
}

#sparkles>path:nth-child(7) {
	 -webkit-animation-delay: 245ms;
	 animation-delay: 245ms;
	
}

#sparkles>path:nth-child(8) {
	 -webkit-animation-delay: 280ms;
	 animation-delay: 280ms;
	
}

#sparkles>path:nth-child(9) {
	 -webkit-animation-delay: 315ms;
	 animation-delay: 315ms;
	
}

#sparkles>path:nth-child(10) {
	 -webkit-animation-delay: 350ms;
	 animation-delay: 350ms;
	
}

#sparkles>path:nth-child(11) {
	 -webkit-animation-delay: 385ms;
	 animation-delay: 385ms;
	
}

#sparkles>path:nth-child(12) {
	 -webkit-animation-delay: 420ms;
	 animation-delay: 420ms;
	
}

#sparkles>path:nth-child(13) {
	 -webkit-animation-delay: 455ms;
	 animation-delay: 455ms;
	
}

#sparkles>path:nth-child(14) {
	 -webkit-animation-delay: 490ms;
	 animation-delay: 490ms;
	
}

#sparkles>path:nth-child(15) {
	 -webkit-animation-delay: 525ms;
	 animation-delay: 525ms;
	
}

#sparkles>path:nth-child(16) {
	 -webkit-animation-delay: 560ms;
	 animation-delay: 560ms;
	
}

#sparkles>path:nth-child(17) {
	 -webkit-animation-delay: 595ms;
	 animation-delay: 595ms;
	
}

#sparkles>path:nth-child(18) {
	 -webkit-animation-delay: 630ms;
	 animation-delay: 630ms;
	
}

#sparkles>path:nth-child(19) {
	 -webkit-animation-delay: 665ms;
	 animation-delay: 665ms;
	
}

#sparkles>path:nth-child(20) {
	 -webkit-animation-delay: 700ms;
	 animation-delay: 700ms;
	
}

#sparkles>path:nth-child(21) {
	 -webkit-animation-delay: 735ms;
	 animation-delay: 735ms;
	
}

#sparkles>path:nth-child(22) {
	 -webkit-animation-delay: 770ms;
	 animation-delay: 770ms;
	
}

#sparkles>path:nth-child(23) {
	 -webkit-animation-delay: 805ms;
	 animation-delay: 805ms;
	
}

#sparkles>path:nth-child(24) {
	 -webkit-animation-delay: 840ms;
	 animation-delay: 840ms;
	
}

#sparkles>path:nth-child(25) {
	 -webkit-animation-delay: 875ms;
	 animation-delay: 875ms;
	
}

#sparkles>path:nth-child(26) {
	 -webkit-animation-delay: 910ms;
	 animation-delay: 910ms;
	
}

#sparkles>path:nth-child(27) {
	 -webkit-animation-delay: 945ms;
	 animation-delay: 945ms;
	
}

#sparkles>path:nth-child(28) {
	 -webkit-animation-delay: 980ms;
	 animation-delay: 980ms;
	
}

#sparkles>path:nth-child(29) {
	 -webkit-animation-delay: 1015ms;
	 animation-delay: 1015ms;
	
}

#burrito {
	 fill: #47e1f2;
	 -webkit-filter: drop-shadow(0 0 20px #47e1f2);
	 filter: drop-shadow(0 0 20px #47e1f2);
	
}

@-webkit-keyframes sparklyBits {
	 0% {
		 opacity: 0;
		
	}
	 100% {
		 opacity: 1;
		
	}
	
}

@keyframes sparklyBits {
	 0% {
		 opacity: 0;
		
	}
	 100% {
		 opacity: 1;
		
	}
	
}